
@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../../css/table.css"
          type="text/css"></link>
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>

    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>

    <script type="text/javascript" src="../../javascript/jquery-1.7.2.js"></script>

    <style type="text/css">
        .el-table thead tr > th {
            background-color: #FFFFCC;
        }

        .el-table tbody tr > td {
            background-color: #FFFFCC;
        }
    </style>


    <script type="text/javascript">
        function deleteThirdKind(id) {
            $.ajax({

                url: "/HR_Fist/customiz/customizAction!doDeleteThirdKind",
                data: "cftk.ftkId=" + id,
                dataType: "text",
                success: function () {
                    alert("删除成功！");
                    location.reload();
                },
                type: "post"
            });
        }
    </script>

</head>

<script type="text/javascript">

		function submission(){
			document.forms[0].submit();
		}

		function page(currentPage){
			document.getElementById("pid").value=currentPage;
			document.forms[0].submit();
		}

</script>


<body style="background-color:#FFFFCC">
    <div id="app">
        <el-card class="box-card"  style="background-color:#FFFFCC">
            <div slot="header" class="clearfix">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item><a href="">客户化设置</a></el-breadcrumb-item>
                    <el-breadcrumb-item>
                        <font color="black">
                            您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--III级机构设置
                        </font>
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div>
                <el-row>
                    <el-col>
                        <el-button type="primary" size="small" style="float:right" onclick="window.location.href='/KF/ThirdAdd'">新增</el-button>
                    </el-col>
                </el-row>
                <el-table :data="list"
                          border
                          style="width: 100%"
                          :header-cell-style="{ background: '#FFFFCC' }"
                          >
                    <el-table-column prop="first_kind_name"
                                     label="I级机构名称"
                                     width="150">
                    </el-table-column>
                    <el-table-column prop="second_kind_name"
                                     label="II级机构名称"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="second_kind_id"
                                     label="II级机构编号"
                                     width="150">
                    </el-table-column>
                    <el-table-column prop="third_kind_name"
                                     label="III级机构名称"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="third_kind_sale_id"
                                     label="销售责任人编号"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="third_kind_is_retail"
                                     label="是否为零售店"
                                     width="180">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini"
                                       v-on:click="xg(scope.row.ftk_id)">变更</el-button>
                            <el-button size="mini"
                                       type="danger"
                                       v-on:click="sc(scope.row.ftk_id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </el-card>
    </div>

    <script type="text/javascript">
        var vue = new Vue({
            el: "#app",
            data: {
                list: []
            },
            methods: {
                find() {
                    axios.get('/KF/ThirdFind').then(res => {
                        console.log(res);
                        this.list = res.data;
                    }).catch(err => {
                        console.log(err);
                    })
                },
                xg(id) {
                    location.href = '/KF/ThirdUp?ftkid=' + id + '';
                },
                sc(idd) {
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get('/KF/ThirdDelete', {
                            params: {
                                id: idd
                            }
                        }).then(res => {
                            if (res.data > 0) {
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                this.find();
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'warning',
                            message: '已取消删除'
                        });
                    });

                },
            },
            mounted() {
                this.find();
            }
        })
    </script>
</body>
</html>

