
@{
    Layout = null;
}
@using Models

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>My JSP 'resume-choose.jsp' starting page</title>

    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comam/comm.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/select.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/time.js">
    </script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <script type="text/javascript">
        function search() {

            if (document.getElementById("majorKindId").value == "0") {
                document.getElementById("majorKindId").value = null;
            }
            document.resumeChooseForm.submit();
        }
    </script>
</head>

<body>
    <div id="app">
        <el-form ref="form" :model="utilBean" :rules="rules">
            <input type="hidden" name="engageResume.humanMajorKindName"
                   id="majorKindName" />
            <input type="hidden" name="engageResume.humanMajorName"
                   id="majorName" />
            <input type="hidden" name="engageResume.checkStatus"
                   value="false" />

            <table width="100%">
                <el-breadcrumb separator="/" style="font-size:16px;margin-top:27px">
                    <el-breadcrumb-item :to="{ path: '/' }">人力资源管理</el-breadcrumb-item>
                    <el-breadcrumb-item><a href="#">招聘管理</a></el-breadcrumb-item>
                    <el-breadcrumb-item><a href="#">简历管理</a></el-breadcrumb-item>
                    <el-breadcrumb-item>简历筛选</el-breadcrumb-item>
                </el-breadcrumb>
                <tr>
                    <td align="right">

                        <input type="button" value="开始" class="BUTTON_STYLE1"
                               v-on:click="search">
                    </td>
                </tr>
            </table>
            <table width="100%" border="1" cellpadding=0 cellspacing=1
                   bordercolorlight=#848284 bordercolordark=#eeeeee
                   class="TABLE_STYLE1">

                <tr>
                    <td class="TD_STYLE1" width="30%">
                        请选择职位分类
                    </td>
                    <td class="TD_STYLE2" width="30%">
                        <el-cascader v-model="value1"
                                     :options="options"
                                     placeholder="请选择职位"
                                     clearable></el-cascader>
                        @*<select name="engageResume.humanMajorKindId" multiple="multiple" style="width: 290;height: 100"
                                id="majorKindId" class="SELECT_STYLE2">
                            <option value="0">--请选择--</option>

                            <option value="01">销售</option>

                            <option value="02">软件开发</option>

                            <option value="03">人力资源</option>

                            <option value="04">生产部</option>*@

                        @*</select>
                            <select name="engageResume.humanMajorId" multiple="multiple" style="width: 290;height: 100"
                                    id="majorId" size="5"
                                    class="SELECT_STYLE2">
                                <option>
                                    --请选择--
                                </option>
                            </select>*@

                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1" width="30%">
                        请输入关键字
                    </td>
                    <td width="84%">
                        <el-input type="text" v-model="utilBean.primarKey" value="" name="utilBean.primarKey" id="gjz"
                                  class="INPUT_STYLE2" />
                    </td>
                </tr>

                <tr>
                    <td class="TD_STYLE1" width="30%">
                        请输入登记时间
                    </td>
                    <td width="84%" class="TD_STYLE2">
                        <el-date-picker v-model="startDate"
                                        type="date"
                                        placeholder="选择日期">
                        </el-date-picker>
                        @*<input name="utilbean.startDate" onclick="aa('utilbean.startDate')" type="text" class="INPUT_STYLE2" id="date_start" style="width:24% " value="" size="30">*@
                        至
                        <el-date-picker v-model="endDate"
                                        type="date"
                                        placeholder="选择日期">
                        </el-date-picker>
                        @*<input type="text" name="utilbean.endDate" onclick="aa('utilbean.endDate')" value="" style="width:24% " class="INPUT_STYLE2" id="date_end">*@
                        （YYYY-MM-DD）
                    </td>
                    @*<td width="84%" class="TD_STYLE2">
                            <input type="hidden" v-model="utilBean.datePropertyName" value="registTime" />

                            <input type="text" v-model="utilBean.startDate" onclick="aa('utilBean.startDate')"
                                   style="width: 14%" class="INPUT_STYLE2">
                            至
                            <input type="text" v-model="utilBean.endDate"
                                   style="width: 14%" class="INPUT_STYLE2" onclick="aa('utilBean.endDate')">
                            （YYYY-MM-DD）
                        </td>*@
                </tr>
            </table>
        </el-form>
    </div>
    <script type="text/javascript">
        let str = "check_status=0";
        var vm = new Vue({
            el: "#app",
            data: {
                utilBean: {
                    humanMajorKindName: "",
                    humanMajorName: "",
                    checkStatus: "",
                    primarKey: "",
                },
                startDate: "",
                endDate: "",
                options: [],
                value1: [],
                rules: {}
            },
            methods: {
                ee: function () {
                    axios.get('/ZP/ERXia')
                        .then(res => {
                            this.options = res.data;
                            console.log(this.options)
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                search: function () {
                    var primarKey = document.getElementById("gjz").value;
                    if (primarKey.length <= 0) {

                        this.$message({
                            type: 'info',
                            message: '您没有输入查询条件'
                        });

                        return;
                    }
                    str = "check_status=0";
                    if (this.value1 != null) {
                        str += "and human_major_kind_id = " + this.value1[0] + " and human_major_id = " + this.value1[1] + "";
                    }
                    if (primarKey.length > 0) {
                        str += "and human_address like '%" + primarKey + "%'and check_status=0 or human_name like '%" + primarKey + "%'and check_status=0";
                    }
                    if (this.startDate != "" && this.endDate != "") {
                        str += "and regist_time between '" + this.startDate + " 'and '" + this.endDate + "'";
                    }
                    //alert(str);
                    location.href = '/ZP/ResumeList?str=' + str;
                },
            },
            mounted: function () {
                this.ee();
            }
        })
    </script>
</body>

</html>
