@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet"
          href="../../../css/table.css" type="text/css">
    <link rel="stylesheet"
          href="../../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/locate.js">
    </script>
    <script type="text/javascript"
            src="../../../javascript/select.js">
    </script>

    <script type="text/javascript">
        function doDelete(id) {
            if (window.confirm("确认删除该项纪录？")) {
                window.location.href("/HR_Fist/recruit/recruitAction!deletePosition?emajorRelease.mreId=" + id)
            }

        }
    </script>

</head>

<body>
    <div id="app">
        <el-card class="box-card" style="background-color:#FFFFCC">
            <div slot="header" class="clearfix" style="background-color:#FFFFCC">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item :to="{ path: '' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item><a href="">客户化设置</a></el-breadcrumb-item>
                    <el-breadcrumb-item>
                        <font color="black">
                            您正在做的业务是：人力资源--招聘管理--职位发布管理--职位发布变更
                        </font>
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div>
                <el-table :data="list"
                          border
                          style="width: 100%"
                          :header-cell-style="{ background: '#FFFFCC' }">
                    <el-table-column prop="major_name"
                                     label="职位名称"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="second_kind_name"
                                     label="公司名称"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="human_amount"
                                     label="招聘人数"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="regist_time"
                                     label="发布时间"
                                     width="180">
                    </el-table-column>
                    <el-table-column prop="deadline"
                                     label="截止时间"
                                     width="180">
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini"
                                       v-on:click="xg(scope.row.mre_id)">变更</el-button>
                            <el-button size="mini"
                                       type="danger"
                                       v-on:click="sc(scope.row.mre_id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination v-on:size-change="handleSizeChange"
                               v-on:current-change="handleCurrentChange"
                               :currentpage="currentPage"
                               :page-sizes="[3, 6, 9, 12]"
                               :page-size="pageSize"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="rows">
                </el-pagination>
            </div>
        </el-card>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                list: [],
                currentPage: 1,
                pageSize: 6,
                rows: 1,
            },
            methods: {
                fill() {
                    axios.get('/ZP/Zw_Index_Update1', {
                        params: {
                            CurrentPage:this.currentPage,
                            PageSize:this.pageSize,
                        },
                    }).then(res => {
                        console.log(res);
                        this.list = res.data.List,
                        this.rows = res.data.Rows
                    }).catch(res => {
                        console.log(res);
                    })
                },
                //每页显示数改变事件
                handleSizeChange: function (size) {
                    this.pageSize = size;
                    this.currentPage = 1;
                    this.fill();
                },
                //页码改变事件
                handleCurrentChange: function (page) {
                    this.currentPage = page;
                    this.fill();
                },
                sc(idd) {
                    this.$confirm('此操作将永久删除该职位信息, 是否继续?' + idd, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        axios.get('/ZP/Zw_Index_Delete', {
                            params: {
                                id: idd
                            }
                        }).then(res => {
                            if (res.data > 0) {
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                                this.fill();
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'warning',
                            message: '已取消删除'
                        });
                    });
                },
                xg(id) {
                    location.href = '/ZP/Zw_Index_Update2?id=' + id+'';
                }
            },
            mounted() {
                this.fill();
            },
        })
    </script>
</body>
</html>

